{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% endblock %}

{% block content %}

{% if form.non_field_errors %}
<p class="error">{% for err in form.non_field_errors %}{{ err }}{% if not forloop.last %}<br/>{% endif %}
{% endfor %}</p>
{% endif %}

<form method="post" action=".">
<fieldset>
<legend>{% trans 'Login' %}</legend>
<label for="id_username">{% trans 'Email address' %}:</label>
{{ form.username }}
{% if form.username.errors %}{{ loginform.username.errors|join:", " }}{% endif %}
<br />
<label for="id_password">{% trans 'Password' %}:</label>
{{ form.password }}
{% if form.password.errors %}{{ loginform.password.errors|join:", " }}{% endif %}
<br />
<input type="submit" value="{% trans 'Login' %}" />
<input type="hidden" name="next"
{% if next %}
    value="{{ next }}" />
{% else %}
    value="{% url satchmo_account_info %}" />
{% endif %}
</fieldset>
</form>

<p>{% trans "If you do not have an account, please" %} <a href="{% url registration_register %}">{% trans "click here" %}</a>.</p>
<p>{% trans "If you do not remember your password, please" %} <a href="{% url auth_password_reset %}">{% trans "click here</a> to have it reset." %}</p>

{% endblock %}
